<article class="menu-base">
  <div class="base-title">
    <h2>MENU</h2>
    <p>メニュー</p>
  </div>
</article>

<section class="menu-box">
  <div class="coffee-inline">
    <img alt="コーヒーの写真" src="/assets/coffee.jpg",  width="800" >
    <p>離島コーヒー</p>
  </div>
  <div class="coffee-explanation">
    島を訪れたら、ホッと一息ついてみませんか？<br>
    私達は自家焙煎にこだわり、香り豊かな一杯を提供します。
  </div>
</section>