<h1>Photos#index</h1>
<p>Find me in app/views/photos/index.html.erb</p>

<%= link_to "新規投稿", new_photo_path %>

<% @photos.each do |photo| %>
<ul>
    <li>
      <div class="photo_tile">
        <%= link_to photo_path(photo.id) do %>
        <%= attachment_image_tag photo, :image, size: "250x250", format: 'jpeg' %>
        <div class="mask">
          <div class="caption"><%= photo.title %></div>
        </div>
        <% end %>
      </div>  
    </li>
</ul>

<% end %>