.back_image_2 {
  height: 800px;
  width: 100%;
  background-image: image-url('boke1209P1101.jpg');
  background-position: left;
}

.signup_tile {
  width: 500px;
  height: 480px;
  margin: 0 auto 50px;
  background: rgba(255,255,255,.6);
  border-radius: 20px 20px 20px 20px;
}

.signup_tile h2 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 30px;
  font-size: 2em;
}