// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_container {
  height: 150px;
  width: 100%;
  // background-color: #FEF1E1;
  display: flex;
  justify-content: center;
}

.profile_image {
  margin-top: 15px;
  border-radius: 50%;
}

.profile_body {
  margin-top: 50px;
  margin-left: 30px;
  font-size: 2.75rem;
  font-family: 'Philosopher', serif;
}

.link-color {
  color: #fabea7;
}

.profile-index {
  text-align: center;
  font-size: 1.75rem;
  font-family: 'Philosopher', serif;  
  margin-top: 100px;
}