// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_container {
  height: 230px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.out_line {
  margin: auto auto auto;  
}

.profile_box {
  display: flex;
  flex :wrap;
}

.profile_image {
  border-radius: 50%;
  margin: auto 0px auto;
}

.profile_body {
  margin: auto 0 auto 35px ;
  font-size: 2.75rem;
  font-family: 'Philosopher', serif;
}

.link-color {
  color: #fabea7;
}

.profile-index {
  display: flex;
	align-items: center;
  font-size: 1.75rem;
  font-family: 'Philosopher', serif;  
}

.profile-index:before, .profile-index:after {
  content: "";
  flex-grow: 1;
  height: 1px; 
  background: #000; 
  margin:0 2em; 
}

.profile_link {
  text-align: center;
  margin-top: 0;
}